.postsBlock{
  padding: 10px;
}
.posts{
  margin-top:20px;
}

.btn{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px ;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  box-shadow: 3px 3px 15px 0px rgba(9, 60, 231, 0.85);
}

.area{
  box-shadow: 3px 3px 15px 0px rgba(9, 60, 231, 0.85);

}