.app-wrapper{
  margin: 0 auto;
  display: grid;
  width: 1250px;
  grid-template-areas: 
  "header header"
  "nav content ";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap:10px;

}
.ava img{
  width: 120px;
  height: 100px;
}


.app-wrapper-content{
    
    grid-area: content;
    background-color:rgb(130, 190, 247);
    
  }
  

