.dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
  color: black;

}
.dialogsItems{
  padding: 10px;
  color: black;

}

.dialog a{
  color: black;
}

.dialog a.active, .dialog a:hover {
  color: black;
  background-color:#0000CD;
  padding: 0 16px;
  transform: translate3d(0px, 0, 0);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 30px;
  text-decoration: none;
  border-radius: 5px;

}

div.messages {
padding: 10px;
}


